p {text-indent:0px} 
body{background-color: #506073;
}
h1{margin-bottom:5px;}
div#header{
	-moz-border-radius-topleft:5px;
	-webkit-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-radius-topright:5px;
	background-color: #CCCCE5;
	font-size:large;
	font-weight:bold;
	margin-top:20px;
	padding:5px;
	padding-bottom:10px;
}
h2{
margin-bottom:5px;
}
div#pageContent{
	background-color: #CCCCDD;
	padding:5px;
	padding-bottom:20px;
	min-height:500px;
	font-size: medium;
}
fieldset{
background-color:#DDDDE0;
border-color:black;
border-width:1px;
border-style:solid;
margin:0px;
padding:0px;
}
div.infoBox
{
	margin-bottom:15px;
	background-color: #C1C6DC;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-width: 2px;
	border-style:solid;
	padding:10px;
	border-color:#162C61;
}
div#menu{
	padding:5px;
	background-color: #7090BB;
	min-height: 25px;
}
a{
	font-weight:bold;
	text-decoration:none;
}
div.even{
	text-align:center;
	background-color:#C0C0DD;
}
div.odd{
	text-align:center;
}
a.menuItem{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin-left:5px;
	margin-right:5px;
	background-color: #6585B0;
	text-decoration: none;
	font-weight: bold;
	font-size:large;
	padding:5px;
	border-width:1px;
	border-color:#4050B0;
	border-style:solid;
}
.colHeaderNormal{
	-moz-border-radius:4px;
    -webkit-border-radius:4px;
	padding-bottom:3px;
	}
.colHeaderHover{
	background-color:#C0C0D0;
	cursor:pointer;
}
.colHeaderSelected{
	background-color:#9090D0;
}
div.sidebar{
	background-color:#DDDDEE;
	border-style:solid;
	border-width:2px;
	border-color:black;
	padding:12px;
	padding-top:30px;
}
.dynamic-form{
	padding:15px;
	margin-bottom:10px;
	margin-top:10px;
	border-style:solid;
	border-width:2px;
	border-color:black;
}
.NameBox{
	min-width:150px;
	min-height:125px;
}
.errorlist{
	color:red;
}
.hlist{
	word-spacing:10px;
}
#techButtons{
	text-align:center;
	text-padding-left:5px;
	text-padding-right:5px;
	border-top-width:2px;
	border-top-style:solid;
	border-top-color:black;
	background-color: #CCCCDD;
	padding:5px;
}
#pageListing{
	font-weight:bold;
    text-padding-left:5px;
    text-padding-right:5px;
    padding:12px;
}
