{%extends "sitePage.html"%}
{%block extra_scripts%}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
{%endblock%}
{%block extra_sheets%}
<link type="text/css" src="{{MEDIA_URL}}css/redmond/jquery-ui-1.7.2.custom.css"></link>
{%endblock%}
{%block title%}Add New Game to {{site.shortName}}{%endblock%}
{%block header %}<h1>Add New Game {%if site%}to {{site.shortName}}{%endif%}</h1>{%endblock%}
{%block content%}
<script type="text/javascript" src="{{MEDIA_URL}}js/js_formset.js"></script>
<script type="text/javascript">
$(function () {
	$('#add-team').click(function(){
		addForm(this,"{{teamFormset.prefix}}",$("#teams"));
		SetChooser();
	});
	$('#add-role').click(function(){
		addForm(this,'{{roleFormset.prefix}}',$("#roles"));
		$(".AutoSuggestBox").each(function(){
			$(this).unbind();});
		setupSuggestBoxes();
	});
	$('.delete-row').click(function(){
		return deleteForm(this, "{{teamFormset.prefix}}");
	})
})
$(document).ready(function(){
	$("form").keydown(function(event){
		if(event.which == 13){
			return true;	
			}
	});
	$("#tabs").tabs();
})
</script>
<script type="text/javascript">
	var siteId={{site.id}}
</script>
<div>
<form action="{{submit_link}}" method="post">
<div class="span-12">
{% for field in game_form%}
{%if not forloop.last%}
<div class="span-12">
<div class="span-4">
	{{field.label_tag}}
</div>
<div class="span-5">
	{{field}}
</div>
<div class="span-8">
	{{field.errors}}
</div>
</div>
{%endif%}
{%endfor%}
</div>
<div class="span-8">
<label for="id_{{game_form.livedToEnd.name}}">Lived to End</label><br/>
{{game_form.livedToEnd}}
</div>
<div class="span-12 last" style="margin-bottom:15px;">
<br/>
<input type="submit" value="Save Game" class="ui-corner-all ui-state-default" style="padding:2px;"/>
{%comment%}<a href="javascript:void(0)" class="menuItem" id="populate_fake">Populate Players</a>{%endcomment%}
</div><br/><br/>
<div>
<div id="tabs" class="span-22">
<ul>
	<li><a href="#teams"><span>Teams</span></a></li>
	<li><a href="#roles"><span>Roles</span></a></li>
</ul>
<div id="teams">
	<ul id="nameMenu" class="contextmenu">
		<li class="remove">
			<a href="#remove">Remove</a>
		</li>
	</ul>
	{%for form in teamFormset.forms %}
		<div class="dynamic-form span-20 last">
			{{form.team_id}}
			<div class="span-8">
				{%for label,attr,at_name in form.left_attrs%}
				<div class="span-6">
					<div class="span-3">
						<label for="{{form.prefix}}_{{at_name}}">{{label}}</label>
					</div>
					<div class="span-3">
						{{attr}}
					</div>
					<div class="span-6">
						{{attr.errors}}
					</div>
				</div>
				{%endfor%}
			</div>
			<div class="span-8">
				<label for="{{form.prefix}}-players_text">Players</label>
				{{form.players}}<br/>
				{{form.players.errors}}
			</div>
			<div class="span-1">
				<a href="javascript:void(0)" class="delete-row ui-corner-all menuItem ui-state-default">delete</a>
			</div>
		</div>
	{%endfor%}
	<a id="add-team" href="javascript:void(0)" class="add-row ui-corner-all ui-state-default" style="padding:2px;">add team</a>
</div><br/>
<div id="roles">
	<div class="span-20">
	{%for form in roleFormset.forms%}
		<div class="dynamic-form span-16 last">
		<div class="span-12">
			<div class="span-4">
			<label for="{{form.prefix}}-title">Role Name</label>
			</div>
			<div class="span-6">
			{{form.title}}
			</div>
			<div class="span-4">
			<label for="{{form.prefix}}-title">Player</label>
			</div>
			<div class="span-6">
			{{form.player}}
			</div><br/>
			<div class="span-10 last">
			<label for="{{form.prefix}}-text">Role Description (basic BBCode allowed)</label>
			</div><br/>
			<div class="span-10 last">
			{{form.text}}
			</div>
		</div>
		<div class="span-3">
			<div class="span-2 deleteRow ui-corner-all menuItem ui-state-default">delete</div>
		</div>
		<br/>
		</div>
	{%endfor%}
	</div>
	<a href="javascript:void(0)" id="add-role" class="span-3 add-row ui-corner-all menuItem ui-state-default">Add Role</a>
</div>
</div>
</div>
<div>
{{teamFormset.management_form}}
{{roleFormset.management_form}}
</div>
</form>
</div>
{%endblock%}
