{%extends "base.html"%}
{%block content%}
<div class="span-22">
<div class="span-17">
<p>This is a test for the new custom badges</p>
<p>The UI for this page hasn't been decided yet, so for now badge format must be entered with the raw format string</p>
<p>Text strings should be placed in parentheses.
Fields such as wins, total games, etc, are specified by a percent sign and a single letter identifying which you want.</p>
<p>After both strings and fields, there are two options you can add.  Text decoration (currently bold or italic) can be specified with b or i.  If no decoration is added, it will be displayed normally.  You can also specify a font size by entering the number.  If you don't, it will use 11 as a default</p>
<p>If you want more than one line, add \n in the place you want the break to occur</p>
<fieldset>
<legend>Examples</legend>
<p><b>(Some Text)b12</b>&nbsp;-Will add the string "Some Text" in bold with a size 12 font</p>
<p><b>%ni10</b>-Will add the username in italic with a size 10 font</p>
	<p><b>%nb13\n(Mafia Stats )b%w( Wins In )%t( Games)</b>-This is roughly equivalent to the current non custom badges</p>
</fieldset>

</div>
	<div class="span-4">
		Valid fields:<br/>
		<b>n</b>-Name<br/>
		<b>w</b>-Wins<br/>
		<b>l</b>-Losses<br/>
		<b>t</b>-Total games played<br/>
		<b>m</b>-Total games moderated<br/>
	</div>
</div>
<div class="span-15">
<fieldset>
<form action="{%if pk%}{%url account_badge pk%}{%else%}{%url account_badge%}{%endif%}" method="POST">
{{form.as_p}}
<input type="submit" value="Add Badge"/>
</form>
</fieldset>
</div>
{%endblock%}
