{%extends "base.html"%}
{%block sheets%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}colorpicker/css/colorpicker.css"/>
<!--<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}colorpicker/css/layout.css"/>-->
{%endblock%}
{%block bodyscripts%}
{{block.super}}
<script type="text/javascript" src="{{MEDIA_URL}}colorpicker/js/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}colorpicker/js/colorpicker.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}colorpicker/js/eye.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}colorpicker/js/utils.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}colorpicker/js/layout.js?ver=1.0.2"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.imgSelector.js"></script>
{%comment%}<script type="text/javascript">
$(document).ready(function(){
	$("#tabs").tabs();
	});
</script>
{%endcomment%}
{%endblock%}
{%block extra_scripts%}
{{block.super}}
<script type="text/javascript">
	$('html').addClass('js');
	$(document).ready(function(){
		$(".ColorPicker").ColorPicker({onSubmit: function(hsb, hex, rgb, el) {
		$(el).val("#"+hex);
		$(el).ColorPickerHide();
		},
		onBeforeShow: function () {
		$(this).ColorPickerSetColor(this.value);
		}
	});
		$("#normalTemplate").imageSelector("preset","original");
		$("#minimalTemplate").imageSelector("preset","minimal");
		$("#moderatorTemplate").imageSelector("preset","moderator");
		$("#gradientBackground").imageSelector("background","gradient");
		$("#transparentBackground").imageSelector("background","transparent");
		$("#advancedToggle").click(function(){
			$("#advanced").toggle("slide",{direction:"up"},300)});
		$("#advancedHelpToggle").click(function(){
			$("#advHelp").toggle("slide",{direction:"up"},800)});
	});
</script>
{%endblock%}
{%block content%}
<form action="{%if pk%}{%url account_badge pk%}{%else%}{%url account_badge%}{%endif%}" method="POST">
<div class="span-23">
<div id="tabs">
<a href="#" id="advancedToggle">Advanced Editing</a>
<div class="span-22 jsHidden" id="advanced">
	<a href="#" id="advancedHelpToggle" style="padding-left:10px;">Format String Help</a>
	<div class="span-22 jsHidden" id="advHelp" >
		<div class="span-17">
		<p>This is a test for the new custom badges</p>
		<p>The UI for this page hasn't been decided yet, so for now badge format must be entered with the raw format string</p>
		<p>Text strings should be placed in parentheses.
		Fields such as wins, total games, etc, are specified by $ and a single letter identifying which you want.</p>
		<p>After both strings and fields, there is an optional formatting string.  Text decoration (currently bold, italic, or normal) can be specified with b, i, or n . You can also specify a font size by entering the number.  Font color can be specified with # fllowed by the value in hex.</p>
		<p>At the beginning of the format string, you can enter background and defaults in the form of "[background,bg_color_1,bg_color_2]formatting".  Currently, 'background' can be either gradient or transparent.  The formatting string is the same as with fields and strings, and will set the default format for all later text.</p>
		<p>If you want more than one line, add \n in the place you want the break to occur</p>
		<fieldset>
		<legend>Examples</legend>
		<p><b>(Some Text)b12</b>&nbsp;-Will add the string "Some Text" in bold with a size 12 font</p>
		<p><b>Some More Text</b>&nbsp;-Will add the string "Some More Text" with the default formatting</p>
		<p><b>&ni10</b>-Will add the username in italic with a size 10 font</p>
			<p><b>[gradient,#010085,#1b5af6]n11#FFFFFF&nb13\n(Mafia Stats )b&w( Wins In )&t( Games)</b>-This is roughly equivalent to the current non-custom badges</p>
		</fieldset>
		</div>
			<div class="span-4">
				Valid fields:<br/>
				<b>n</b>-Name<br/>
				<b>w</b>-Wins<br/>
				<b>l</b>-Losses<br/>
				<b>t</b>-Total games played<br/>
				<b>m</b>-Total games moderated<br/>
				<b>p</b>-Number of players in moderated games<br/>
			</div>
	</div><br/>
	{{form.config.label_tag}}: {{form.config}}
</div>
<div class="span-22" id="template">
<fieldset>
<legend>Choose a Template</legend>
<div class="span-5" style="margin-left:10px;"><img  id="normalTemplate"src="{{MEDIA_URL}}images/badges/Example_Classic.png" alt="Classic Template"></img><br/><b>Classic Template</b></div>
<div class="span-4"><img  id="minimalTemplate" src="{{MEDIA_URL}}images/badges/Example_Minimalist.png" alt="Minimal Template"></img><br/><b>Minimal Template</b></div>
<div class="span-5"><img id="moderatorTemplate" src="{{MEDIA_URL}}images/badges/Example_Moderator.png" alt="Moderator Template"><img><br/><b>Moderator Template</b></div>
</fieldset>
<div class="span-10">
{{form.title.label_tag}}: {{form.title}}<br/>
{{form.preset.label_tag}}: {{form.preset}}<br/>
{{form.font_size.label_tag}}: {{form.font_size}}<br/>
{{form.text_color.label_tag}}: {{form.text_color}}<br/>
{{form.top_color.label_tag}}: {{form.top_color}}<br/>
{{form.bottom_color.label_tag}}: {{form.bottom_color}}<br/>
</div>
<div class="span-10">
<fieldset style="padding-left:4px;">
<legend>Choose a Background</legend>
<div class="span-6"><img id="gradientBackground" style="margin-left:4px;"src="{{MEDIA_URL}}images/badges/Example_Gradient.png" alt="Gradient Background"></img></div>
<div class="span-6"><img style="margin-left:4px;" id="transparentBackground" src="{{MEDIA_URL}}images/badges/Example_Transparent.png" alt="Transparent Background" ></img></div>
</fieldset>
{{form.background.label_tag}}: {{form.background}}<br/>
{{form.players.label_tag}}: {{form.players}}
</div>
{%comment%}
{% for field in form%}
	{%ifnotequal field.name "config"%}<div class="span-10">{{field.label_tag}}: {{field}}</div>{%endifnotequal%}
{%endfor%}
{%endcomment%}
</div>
</div>
</div>
<input type="submit" value="Add Badge"/>
</form>
{%endblock%}
