<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<head>
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<!--<link rel="stylesheet" href="/static/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">-->
{%block sheets%}{%if sheets%}{%for sheet in sheets%}
{{sheet|safe}}{%endfor%}
	{%endif%}{%endblock%}
<link rel="stylesheet" href="/static/css/stylesheet.css"/>
<title>{% block title %}Mafia Stats{%endblock%}</title>
</head>
<body>
	{%block bodyscripts%}{%if bodyscripts %}{%for script in bodyscripts%}
{{script|safe}}	{%endfor%}	{%endif%}
	{%endblock%}
	<div class="container">
	<div class="span-24" id="header">
	{%block header %}{%endblock%}	
	</div>
	<div class="span-24" id="menu">
	{% block menu%}&nbsp {% endblock %}
	</div>
	<div class="span-24" id="content">
		{% block content %}{%endblock%}
	</div>
	</div>
</body>
</html>
