<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<head>
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<!--<link rel="stylesheet" href="/static/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">-->
<link rel="stylesheet" href="/static/css/stylesheet.css"/>
{%block sheets%}{%if sheets%}{%for sheet in sheets%}
{{sheet|safe}}{%endfor%}
	{%endif%}{%endblock%}
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
{%block extra_css%}
{%endblock%}
{%block bodyscripts%}{%if bodyscripts %}{%for script in bodyscripts%}
{{script|safe}} {%endfor%}  {%endif%}
    {%endblock%}
{%block extra_scripts%}{%endblock%}
<title>{% block title %}{%endblock%} Mafia Stats</title>
</head>
<body>
	<div class="container">
	<div class="span-26">
	<div class="span-24" id="header">
	{%block header %}{%endblock%}
	</div>
	<div class="span-24" id="menu">
	<div class="span-20">
	{% block menu%}&nbsp {% endblock %}	
	</div>
	<div class="span-3">
	{%if user.is_authenticated%}<b>{{user.username}}</b>[<a href="/account/signout/">logout</a>]
	{%else%}[<a href="/account/signin/">login</a>]{%endif%}
	</div>
	</div>
	<div class="span-24" id="pageContent">
		{% block content %}{%endblock%}
	</div>
	</div><br/>
	<div id="techButtons" class="span-24">
	<a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a>
	<a href='http://jquery.com/' title='jQuery JavaScript Library'><img src='http://jquery.com/files/buttons/jquery-icon.png' alt='jQuery JavaScript Library' title='jQuery JavaScript Library' style='border:none;'/></a>
	</div>
	</div>
</body>
</html>
