{% extends "sitePage.html"%}
{%block extra_scripts%}<script type="text/javascript" src="/static/js/jqueryAjaxDivSort.js"></script>{%endblock%}
{%block  title %} {{site.shortName}} Games - Mafia Stats{%endblock%}

{% block content%}
<script type="text/javascript">
	$(document).ready(function(){
	{%for key,width in sortMethods%}
		$("#{{key}}Label").ajaxDivSort("{{key}}","#listing");
	{%endfor%}
	});
</script>
<div id="sortButtons">
	<div class="span-22">
	<div class="span-2"><b>Sort By:</b></div>
	{%for meth,width in sortMethods%}	
		{%if meth != "default"%}
		<div id="{{meth}}Label" class="colHeaderNormal span-{{width}}" style="text-align:center;margin-left:1px!important;margin-right:1px!important;padding-left:3px;padding-right:3px;margin-bottom:10px"><a href={%url mafiastats_games site.id%}?method={{meth}}&direction={%if direction is defined%}{{direction}}{%else%}up{%endif%}>{{meth}}</a></div>
		{%endif%}
	{%endfor%}
	</div>
	<div class="span-5">
	{%include "pagePrint.html"%}
	</div>
</div>
<div id="listing">
{%include "gamesListing.html"%}
</div>
{%endblock%}
