{%extends "base.html"%}
{%block title%}Mafia Stats - {{game.title}} - {{game.site.title}}{%endblock%}
{%block header%}<h1>{{game.title}}</h1>{%endblock%}
{%block menu %}<a class="menuItem" href="/site/{{game.site.id}}/">{{game.site.title}} Stats</a>{%endblock%}
{%block content%}

<div class="span-15 infoBox">
	<div class = "span-7">
		<b>{{game.title}}</b><br/>
		Length: {{length.days}} days<br/>
		Players: {{num_players}}<br/>
	</div>
	<div class="span-8 last">
		{%ifequal num_winners 1%}
		<b>Winning Team:</b><br/>
		{%else%}
		<b>Winning Teams:</b><br/>
		{%endifequal%}
		{% for team in winners %}
		<a href="#{{team.id}}">{{team.title}}</a><br/>
		{%endfor%}
	</div>
</div>
<div class="span-17 infobox">
<h2> Teams in this game:</h2>
</div>
{%for team in teams%}
<div class="span-17 infoBox">
	<a name="{{team.id}}"></a>
		<div class="span-17">
		<div class="span-8">
		<h4>{{team.title}}</h4>
		</div>
		<div class="span-6">
			{{team.category.title}}
		</div>
		<div class="span-2">
		<b>{%if team.won%}Won{%else%}Lost{%endif%}</b>
		</div>
	</div>
	{%for player in team.players.all%}
		<div class="span-2">
		<a href="/player/{{team.site.id}}/{{player.id}}/">{{player.name}}</a>
		</div>
	{%endfor%}
</div>
{%endfor%}
{%endblock%}			
