{% extends "sitePage.html"%}
{%block extra_scripts%}
<script type="text/javascript" src="/static/js/jqueryAjaxDivSort.js"></script>
{%endblock%}
{%block title%} {{site.short_name}} Moderators - Mafia Stats{%endblock%}
{% block content%}
<script type="text/javascript">
	$(document).ready(function(){
		var cols = ["name","modded"];
		for (var count in cols){
			meth=cols[count];
			elName = "#"+meth+"Label";
			$(elName).ajaxDivSort(meth,"#listing",{});
		}
	});
</script>
<div class="span-20">
<div class="span-5 colHeaderNormal" id="nameLabel">
Name</div>
<div class="span-6 colHeaderNormal" id="moddedLabel" style="text-align:center;">
Games Moderated</div>
</div>
<div id="listing">
{%include "moderatorsListing.html"%}
</div>
{%endblock%}
