{% extends "sitePage.html"%}
{%block extra_scripts%}
<script type="text/javascript" src="/static/js/jqueryAjaxDivSort.js"></script>
{%endblock%}
{%block title%} {{site.short_name}} Moderators - Mafia Stats{%endblock%}
{% block content%}
<script type="text/javascript">
	$(document).ready(function(){
		ajaxDivSort_register(["name","modded","largest"],"#listing");
	});
</script>
<div class="span-20" style="margin-bottom:10px;">
<div class="span-5 colHeaderNormal" id="nameLabel">
Name</div>
<div class="span-5 colHeaderNormal" id="moddedLabel" style="text-align:center;">
Games Moderated</div>
<div class="span-5 colHeaderNormal" id="largestLabel" style="text-align:center;">Largest Game</div>
</div>
<div id="listing">
{%include "moderatorsListing.html"%}
</div>
{%endblock%}
