{%if page.has_other_pages%}
		<div class="span-20"id="pageListing">
			{%if page.has_previous()%}
			<a class="pageLink" href="?page={{page.previous_page_number()}}{%for k,v in pageArgs.items()%}&{{k}}={{v}}{%endfor%}">previous</a>
			{%else%}
				previous
			{%endif%}
			{%for p in page.pre_list%}
				<a class="pageLink" href="?page={{p}}{%for k,v in pageArgs.items()%}&{{k}}={{v}}{%endfor%}">{{p}}</a>
			{%endfor%}
			{{page.number}}
			{%for p in page.post_list%}
				<a class="pageLink" href="?page={{p}}{%for k,v in pageArgs.items()%}&{{k}}={{v}}{%endfor%}">{{p}}</a>
			{%endfor%}
			{%if page.has_next()%}
				<a class="pageLink" href="?page={{page.next_page_number()}}{%for k,v in pageArgs.items()%}&{{k}}={{v}}{%endfor%}">next</a>
			{%else%}
				next
			{%endif%}
		</div>
{%endif%}

