{%extends "playerPage.html"%}
{%block content%}
<h2>{%if player.user%}<a href="{%url account_profile player.user.pk%}">{{player.name}}</a>{%else%}{{player.name}}{%endif%}</h2>
{%include "statsBox.html"%}
<div class="span-12">
	{%if moderated%}
	<a name="moderated"></a>
	<h2>Games {{player.name}} has Moderated</h2>
	{%for game in moderated%}
	<a href="{%url mafiastats_game game.id%}">{{game.title}}</a><br/>
	{%endfor%}
	{%endif%}
	{%if played%}
	<a name="{%url mafiastats_played player.id%}"></a><h2>Games {{player.name}} Has Played</h2>
	{%for team in played%}
	<a href="{%url mafiastats_game team.game.id%}">{{team.game.title}}</a> - {%if team.won%}Won{%else%}Lost{%endif%} as {{team.title}}<br/>
	{%endfor%}
	{%endif%}
</div>
<div class="span-8 infoBox">
	<h3>This you?</h3>
	<h4>Show off your stats.</h4>
	<img src="{{MEDIA_URL}}images/badges/badge_norm_{{player.site.id}}_{{player.id}}.png"></img>
	<br/>
	Copy and past the following code to share you stats with the world:
	<pre style="overflow:auto;">[url={{request.get_host()}}{%url mafiastats_player player.id%}][img]{{request.get_host()}}{{MEDIA_URL}}images/badges/badge_norm_{{player.site.id}}_{{player.id}}.png[/img][/url]</pre>
	{%if user.is_authenticated()%}{%if player.user == user%}Or go to <a href="{%url account_profile%}">your profile</a> and create a custom badge{%elif player.user == None%}Or go to <a href="{%url account_profile%}">your profile</a> and link this player to your account{%endif%}{%elif not player.user%}Or <a href="{%url user_signin%}">log in</a> and create a custom badge{%endif%}
</div>
{%endblock%}
