{%extends "playerPage.html"%}
{%block extra_scripts%}
<script type="text/javascript" src="{{MEDIA_URL}}js/jqueryAjaxDivSort.js"></script>
<script type="text/javascript" src="/static/js/Jit/jit-yc.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/playGraph.js"></script>
{%endblock%}
{%block content%}
<script type="text/javascript">
	$(document).ready(function(){
		loadGraph("{%url mafiastats_player_graph player.id%}", "#infovis","#infobox");
		{#{%for key,width in sortMethods%}
			$("#{{key}}Label").ajaxDivSort("{{key}}","#listing");
		{%endfor%}#}
	});
</script>
<div class="span-24">
	<div class="span-8 infoBox">
		Games Played: {{player.played}}<br/>
		Games Won: {{player.wins()}}<br/>
		Games Lost: {{player.losses()}}<br/>
		Percent of Games Survived: {{stats.survivalPercentage}}%<br/>
	</div>
	<div class="span-2">&nbsp;</div>
	<div class="span-10 infoBox">
		<div style="font-weight:bold;" class="span-3">
		Game Type
		</div>
		<div style="font-weight:bold;padding-left:10px;"class="span-2" style="text-align:center;">
		Won
		</div>
		<div style="font-weight:bold;"class="span-2"  style="text-align:center;">
		Lost
		</div>
		<div style="font-weight:bold;"class="span-2" style="text-align:center;">
		Total
		</div>
		<div class="span-8" id="catListing">
		{%include "playedCatlisting.html"%}
		</div>
	</div>
</div>
{#
<div class="span-20">
<div class="span-12">
<div id="sortButtons">
	<div class="span-22">
	<div class="span-2"><b>Sort By:</b></div>
	{%for meth,width in sortMethods%}
		{%if meth != "default"%}
		<div id="{{meth}}Label" class="colHeaderNormal span-{{width}}" style="text-align:center;border-style:solid;border-width:1px;margin-left:1px!important;margin-right:1px!important;padding-left:3px;padding-right:3px;margin-bottom:10px">{{meth}}</div>
		{%endif%}
	{%endfor%}
	</div>
	<div class="span-5">
	{%include "pagePrint.html"%}
	</div>
</div>
<div id="listing">
{%include "playerGamesListing.html"%}
</div>
</div>
#}
<div class="span-24">
	<div id="infovis" class ="span-15" style="min-height:600px;min-width:600px;background-color:black;"></div>
	<div>
	<div class="span-8 ui-corner-top" style="border-color:black;border-width:2px;border-width-bottom:1px;border-style:solid;">
		<p style="padding:5px">
		Which teams has <a href="{%url mafiastats_player player.id%}">{{player.name}}</a> been on?
		Click a name on the graph to focus on it.
		</p>
	</div>
	<div id="infobox" class="span-8 ui-corner-bottom" style="min-height:400px;border-color:black;border-width:2px;border-width-top:1px;border-style:solid;"></div>
	</div>
</div>
{%endblock%}
