{%extends "base.html"%}
{%block bodyscripts%}
{{block.super}}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
{%endblock%}
{%block extra_scripts%}
{%endblock%}
{%block title%}{{profile_user.username}}{%endblock%}
{%block header%}<h1>{{profile_user.username}}</h1>{%endblock%}
{%block menu%}
<a class="menuItem" href="/">Site List</a>
{%if own_page%} <a class="menuItem" href="{%url mafiastats_link%}">Link Account</a>{%endif%}
{%endblock%}
{%block content%}
{%if profile_user.players.count%}
{%include "statsBox.html"%}
<div class="span-12">
	<span class="header">Linked Players</span>
	<ul>
	{%for player in profile_user.players.all%}
	<li><a href = "{%url mafiastats_player player.id%}">{{player.name}}</a> - <a href="{%url mafiastats_site player.site.id%}">{{player.site.title}}</a>{%if own_page%}&nbsp;&nbsp;(<a href="javascript:mafiastats_unlink({{player.id}})" id="unlink_{{player.id}}" class="unlinker">unlink</a>){%endif%}</li>
	{%endfor%}
	</ul>
	{%if own_page%}
	<a href="{%url mafiastats_link%}">Link to another player</a>
	{%endif%}
</div>
{%if own_page%}
<div class="span-8">
</div>
{%endif%}
{%else%}
{%if own_page%}
You haven't linked your account to any players yet.<br/>
Would you like to <a href="{%url mafiastats_link%}">do so now</a>?
{%else%}
This user has not linked their account to any players yet
{%endif%}
{%endif%}
{%endblock%}

