{%extends "sitePage.html"%}
{%block extra_scripts%}
<script type="text/javascript" src="{{MEDIA_URL}}js/jqueryAjaxDivSort.js"></script>
{%endblock%}
{%block content%}
	<script type="text/javascript">
		$(document).ready(function(){
			ajaxDivSort_register(["name","wins","losses","winPct","modded"],"#scoreContent");
		});
	</script>
	<div style="margin-bottom:10px;">
		<div id="nameLabel" class="span-4 colHeaderNormal" style="text-align:center">
			<b><a href="{%url mafiastats_scoreboard site.id%}?page={{page.number}}&method=name{%if direction%}&direction={{direction}}{%else%}&direction=up{%endif%}">Name</a></b>
		</div>
		<div id="winsLabel" class="span-3 colHeaderNormal" style="text-align:center">
			<b><a href="{%url mafiastats_scoreboard site.id%}?page={{page.number}}&method=wins{%if direction%}&direction={{direction}}{%else%}&direction=up{%endif%}">Wins</a></b>
		</div>
		<div id="lossesLabel" class="span-3 colHeaderNormal" style="text-align:center">
			<b><a href="{%url mafiastats_scoreboard site.id%}?page={{page.number}}&method=losses{%if direction%}&direction={{direction}}{%else%}&direction=up{%endif%}">Losses</a></b>
		</div>
		<div id="winPctLabel" class="span-4 colHeaderNormal" style="text-align:center">
			<b><a href="{%url mafiastats_scoreboard site.id%}?page={{page.number}}&method=winPct{%if direction%}&direction={{direction}}{%else%}&direction=up{%endif%}">Percentage</a></b>
		</div>
		<div id="moddedLabel" class="span-4 colHeaderNormal" style="text-align:center">
			<b><a href="{%url mafiastats_scoreboard site.id%}?page={{page.number}}&method=modded{%if direction%}&direction={{direction}}{%else%}&direction=up{%endif%}">Moderated</a></b>
		</div>
	</div>
	<div id="scoreContent">{%include "scoreBoardPresenter.html"%}</div>
{%endblock%}
