{%extends "base.html"%}
{% block title%}
Mafia Stats - {{site.title}} Site Statistics
{%endblock%}
{%block header%}
<h1>{{site.title}}</h1>
{%endblock%}
{%block menu%}
<a class="menuItem" href="/">Site List</a> 
<a class="menuItem" href="/site/{{site.id}}/?page=1">{{site.title}} Stats</a>
<a class="menuItem" href = "/site/{{site.id}}/scoreboard/?page=1">{{site.title}} Scoreboard</a>
<a class="menuItem" href="/site/{{site.id}}/games/">{{site.title}} Games</a>
<a class="menuItem" href="/site/{{site.id}}/moderators/">Moderators</a>
<a class="menuItem" href="/game/add/{{site.id}}/">Add Game</a>
{%endblock%}
